<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="stylesheet" href="/css/user-profile.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  <!-- Top Navigation Bar -->
  <nav class="top-nav">
    <a href="/" class="dashboard-link">
      <img src="/images/vikasa-name.png" alt="Vikasa">
    </a>
    <div class="nav-links">
        <a href="/profile" class="activities-link">Home</a>
        <a href="/activities" class="activities-link">Activities</a>
        <a href="/about-us" class="activities-link">About Us</a>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
  </nav>
  <h1>About Vikasa</h1>
  <p>We are ....</p>
</body>
</html>