<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Additional Details</title>
    <link rel="stylesheet" href="/css/add-info.css">
</head>
<body>
    <h1>Additional details</h1>
    <div class="container">
    <form action="/update-dob-mobile?id={{userToUpdate.id}}" method="POST">
        <label for="mobileInput">Enter your mobile number:</label>
        <input type="tel" name="mobile" pattern="[0-9]*" value="{{#if enteredFields.mobile}}{{enteredFields.mobile}}{{/if}}">
        <br>
        <label for="dateInput">Enter your date of birth:</label>
        <input type="date" name="dob" value="{{#if enteredFields.dob}}{{enteredFields.dob}}{{/if}}">
        <br>
        <label>
            <input type="checkbox" name="hasAcceptedPrivacyPolicy" value="true" required> I agree to the Privacy Policy
        </label>
        <label>
            <input type="checkbox" name="hasGivenMarketingConsent" value="true"> I agree to receive marketing communications
        </label>
        <br>
        <input type = "submit" value="Submit">

    </form>
    {{#if error}}
            <h3 style="color: red;">{{error}}</h3>
        {{/if}}
</div>

</body>
</html>
