<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navigation Bar</title>
    </head>
    <nav>
        <h1>Loyalty Management</h1>
    </nav>

<div class="card">
    <div class = "form">
        <h3>Login with</h3>
        <a class="google-btn" href="/auth/google">Google</a>
        <br>
        <a class="facebook-btn" href="/auth/facebook">Facebook</a>
        <br>
        <a class="local-btn" href="/auth/weblogin">Email</a>
    </div>
</div>
</body>
</html>