<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VIKASA</title>

  <link rel="stylesheet" href="https://use.typekit.net/hwh1xjc.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/preloader.css">
</head>
<body onload="hidePreloader()">

<div id="preloader">
  <img src="/images/vikasa-no-name-newui.png" alt="Preloader Image" class="preloader-img">
  <img src="/images/vikasa-no-name-blue.png" alt="Preloader Image Alternate" class="preloader-img alternate">
</div>

{{> navbar}}

<section id="profile-info">
{{> profileInfo}}
</section>

<section id="membership-info">
{{> membershipInfo }}
</section>

<section id="points-wallet">
{{> pointsWallet}}
</section>

<section id="discounts">
{{> discounts}}
</section>

<section id="privacy-pref">
{{> privacyPreference}}
</section>

<section id="add-transaction">
{{> addTransaction}}
</section>

<section id="redemption">
{{> redeemPoints}}
</section>

<script src="/js/script.js"></script>
</body>

</html>