<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotpassword.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo-section">
            <img src="/images/vikasa-logo.png" alt="Vikasa Logo">
        </div>

        <div class="reset-box">
            <h2>A link to reset your password will be sent to your email.</h2>
            <form action="/forgot-password" method="POST" autocomplete="off">
                <input type="email" name="email" placeholder="Enter your registered email" required>
                <button type="submit" class="send-btn">Send</button>
            </form>
            {{#if error}}
                <h4 style="color: red;">{{error}}</h4>
            {{/if}}
        </div>
    </div>
</body>
</html>
