<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Membership</title>
  <link rel="stylesheet" href="/css/user-profile.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="stylesheet" href="/css/global.css" />
     <link rel="icon" href="/images/favicon.ico" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
   <div class="main-wrapper">
    <div class="bg-overlay"></div>
    <div class="container">
       {{> sidebar hideItems=false active="membership" }}
        <div class="main-container">
            Page to show applicable discounts, promotions, and progression to next tier
        </div>
  </div>

</body>
</html>