{{>navbar}}
<div class="dmtable-container">
<div class="table-card">
    <div class="category-name">
        <p>Yoga Category</p>
    </div>
        <table class="dm-table">
            <thead>
                <tr>
                    <th>Rewards</th>
                    <th>Points Required</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 Group Class Drop-in</td>
                    <td>2,500</td>
                </tr>
                <tr>
                    <td>1-week unlimited Class Tickets</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>1 Month Unlimited</td>
                    <td>15,000</td>
                </tr>
                <tr>
                    <td>Healthy Day</td>
                    <td>12,500</td>
                </tr>
                <tr>
                    <td>Healthy Morning/ Afternoon</td>
                    <td>5,000</td>
                </tr>
                <tr>
                    <td>Private Class 1-on-1</td>
                    <td>12,500</td>
                </tr>
            </tbody>
        </table>
</div>
<div class="table-card">
    <div class="category-name">
        <p>F&B Category</p>
    </div>
        <table class="dm-table">
            <thead>
                <tr>
                    <th>Rewards</th>
                    <th>Points Required</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Free Breakfast or Dinner Set</td>
                    <td>2,500</td>
                </tr>
                <tr>
                    <td>Free Signature Juices or Smoothies</td>
                    <td>1,000</td>
                </tr>
                <tr>
                    <td>Free Coffee or Tea</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>Free Raw Cheesecake</td>
                    <td>1,000</td>
                </tr>
            </tbody>
        </table>
</div>
<div class="table-card">
    <div class="category-name">
        <p>Vita Spa Category</p>
    </div>
        <table class="dm-table">
            <thead>
                <tr>
                    <th>Rewards</th>
                    <th>Points Required</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Any massages/Treatments 60mn</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>Any massages/Treatments 90mn</td>
                    <td>12,500</td>
                </tr>
                <tr>
                    <td>Free upgrade 30 min massage</td>
                    <td>2,500</td>
                </tr>
            </tbody>
        </table>
</div>
<div class="table-card">
    <div class="category-name">
        <p>Retreats and YTT packages</p>
    </div>
        <table class="dm-table">
            <thead>
                <tr>
                    <th>Rewards</th>
                    <th>Points Required</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Room upgrade</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>Free room night</td>
                    <td>15,000</td>
                </tr>
            </tbody>
        </table>
</div>

</div>

</body>
</html>