<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/resetpassword.css">
</head>
<body>
    <nav>
            <h1>Reset your password</h1>
    </nav>
    <div class="card">
    <form action="/reset-password?token={{resetData.token}}" method="POST">
    <input type="password" name="password" required placeholder="New Password">
    <br>
    <br>
    <input type="password" name="cpassword" required placeholder="Confirm Password">
    <br>
    <br>
    <input type = "submit" class="reset-btn" value="Reset Password">
    </form>
    {{#if error}}
            <h4 style="color: red;">{{error}}</h4>
    {{/if}}
    </div>
</body>
</html>