        {{>navbar}}
        <div class="whole-form">
            <form class="systemdata-form">

                {{#if user.systemData.password}}
                <div class="form-group">
                    <label for="a">Password:</label>
                    <input type="text" name="password" value="{{user.systemData.password}}"
                        readonly="readonly">
                </div>
                {{/if}}    

                
                {{#if user.systemData.authentication}}
                <div class="form-group">
                    <label for="b">Authentication:</label>
                    <input type="text" name="authentication"
                        value="{{user.systemData.authentication}}"
                        readonly>
                </div>
                {{/if}}
            </form>
        </div>
    </body>
</html>

