<nav class="sidebar">
  <a href="/" class="dashboard-link">
    <img src="/images/logo.png" alt="Vikasa" />
  </a>
  <div class="nav-links">
    {{#unless hideItems}}

      <a href="/profile" class="activities-link active">
        <img src="/images/home.svg" height="16" />Profile</a>
      <a href="/activities" class="activities-link">
        <img src="/images/activity.svg" height="16" />Activities</a>
      <a href="/about-us" class="activities-link">
        <img src="/images/info.svg" height="20" />About Us</a>
    {{/unless}}
    <a href="/logout" class="logout-link">
      <img src="/images/logout.svg" height="16" />Logout</a>
  </div>
</nav>