<nav class="sidebar">
  <a href="/" class="dashboard-link">
    <img src="/images/logo.png" alt="Vikasa" />
  </a>
  <div class="nav-links">
    {{#unless hideItems}}

      <a href="/profile" class="wallet-link {{#if (eq active "profile")}}active{{/if}}">
        <img src="/images/home.svg" height="16" />Profile</a>
      <a href="/wallet" class="wallet-link {{#if (eq active "wallet")}}active{{/if}}">
        <img src="/images/activity.svg" height="16" />Wallet</a>
      <a href="/about-us" class="wallet-link {{#if (eq active "about-us")}}active{{/if}}">
        <img src="/images/info.svg" height="20" />About Us</a>
      <a href="/membership" class="wallet-link {{#if (eq active "membership")}}active{{/if}}">
        <img src="/images/info.svg" height="20" />Membership</a>
    {{/unless}}
    <a href="/logout" class="logout-link">
      <img src="/images/logout.svg" height="16" />Logout</a>
  </div>
</nav>