<div class="stepper">
  <div class="step">
    <p style="left: -8px;">Bronze</p>
    <div class="circle bronze selected"></div>
  </div>
  <div class="line"></div>

  <div class="step">
    <p style="left: -4px;">Silver</p>
    <div class="circle silver"></div>
  </div>
  <div class="line"></div>
  <div class="step">
    <p style="left: -6px;">Gold</p>
    <div class="circle gold"></div>
  </div>
  <div class="line"></div>
  <div class="step">
    <p style="left: -9px;">Black</p>
    <div class="circle black"></div>
  </div>
</div>