* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
  
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #667391;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.2rem;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.top-nav .dashboard-link img {
    background-color: transparent;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.top-nav .logout-link:hover,
.top-nav .activities-link:hover {
    background-color: #fff;
    color: #161a2d;
}

.top-nav .logout-link .material-symbols-outlined {
    font-size: 1.5rem;
}

body{
    background-color: #F7F8FC;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.whole-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.registration-form {
    display: flex;
    gap: 50px;
    width: 1000px;
    padding: 20px;
}

.left-column,
.right-column {
    width: 50%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.name-fields {
    display: flex;
    gap: 10px;
}

.name-fields input {
    flex: 1;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="password"]:focus{
    border-color: #667391;
    background-color: #c9cfda;
    outline: none;
}

.checkboxes {
    margin-top: 10px;
}

.checkboxes label {
    display: flex;
    align-items: center;
    font-weight: normal;
    margin-bottom: 10px;
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: flex-between;
}

.button {
    width: 10rem;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background: #5A6268;
}

input[type="checkbox"] {
    margin-right: 8px;
}