* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

/* #7e87aa */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  background: #494e65;
  width: 100%;
  height: 100%;
}

button > img {
  width: 20px;
}

.container {
  display: flex;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  gap: 20px;
  margin: 28px;
  border-radius: 10px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 9px 15px;
}

.container > div {
  flex: 1;
}

.left {
  color: white;
  font-size: 40px;
  display: flex;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  align-items: center;
  justify-content: center;
  background: url("/images/welcome.jpg") center/cover no-repeat;
}

.left .banner-content {
  max-width: 75%;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  background: #494e6563;
  height: 100%;
  width: 100%;
}

.left span {
  font-size: 16px;
  margin-top: 5px;
  display: block;
}
.right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 80%;
  margin: auto;
}

.logo {
  height: 100px;
  object-fit: contain;
  margin-bottom: 16px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

h4 {
  font-size: 17px;
  font-weight: 400;
}

h4 a {
  color: #7f90c6;
  text-decoration: none;
}

input {
  padding: 7px 10px;
  margin-bottom: 12px;
  border: 1px solid #e1e0e0;
  box-shadow: none;
  font-size: 14px;
}

label {
  margin-bottom: 6px;
  display: block;
  font-size: 15px;
}

form {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.signin-btn {
  background: #494e65;
  border: 1px solid;
  color: white;
  padding: 9px;
  font-size: 17px;
}

button,
input {
  border-radius: 4px;
  height: 40px;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-top: 10px;
  color: #7f90c6;
  font-size: 14px;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-buttons a {
  display: block;
  text-decoration: none;
}

.social-buttons button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px;
  font-size: 15px;
  text-decoration: none;
  background: #fff;
  border: 1px solid #e1e0e0;
}
