.content-wrapper {
  padding: 24px;
  position: relative;
}

.redeem {
  margin-top: 15px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.redeem h3 {
  text-align: center;
}
.membership-details {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 15px;
}
.membership-details h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.membership-details .bold {
  font-weight: 600;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid #eee;
  border-spacing: 0;
}

th {
  border-bottom: 1px solid #eee;
  padding: 6px 7px;
  font-size: 16px;
  background: #64728fad;
  color: #fff;
  text-align: left;
}

td {
  border-bottom: 1px solid #eee;
  padding: 6px 7px;
}

tr > :first-child {
  width: 80%;
}

tr td:last-child {
  border-left: 1px solid #eee;
  padding-left: 20px;
}
table .heading {
  background-color: #d9d2e9b5;
}

.center {
  text-align: center;
}
.membership-details .flex {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.membership-details .flex p {
  margin-bottom: 10px;
}
.membership-details p,
.redeem p {
  color: #636363;
  font-size: 18px;
}
h3 {
  color: #66748e;
  font-size: 20px;
}

.subtitle {
  color: #636363;
}

.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.step {
  position: relative;
}

.step > p {
  position: absolute;
  top: -30px;
  color: #66748e;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.selected {
  outline: 2px solid #66748ea6;
  outline-offset: 4px;
  width: 26px;
  height: 26px;
}

.gold {
  background-color: #d5a865;
}
.bronze {
  background-color: #aa6e58;
}
.silver {
  background-color: #b3b4ba;
}

.black {
  background-color: #2a353a;
}
.line {
  flex: 1;
  background: #66748ea6;
  height: 2px;
}

.circular-progress svg {
  height: 120px;
}

.booking-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1175px) {
  table {
    width: 90%;
  }
}
@media (max-width: 1075px) {
  .booking-info {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 815px) {
  table {
    width: 100%;
  }
  .membership-details .flex {
    flex-direction: column;
  }
  .membership-details .flex p {
    text-align: center;
  }
}

@media (max-width: 475px) {
  .booking-info {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  .stepper {
    max-width: 100%;
  }
}
