* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inknut Antiqua", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #D5DCE4 0%, #667391 100%); 
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 310px;
}

.logo-section {
    flex: 1;
    text-align: center;
}

.logo-section img {
    width: 250px; /* Adjust logo size as needed */
    margin-bottom: 20px;
}

.logo-section h1 {
    font-size: 2.5em;
    color: #333; /* Placeholder color for logo text */
}

.reset-box {
    flex: 1;
    width: 400px;
    min-width: 400px;
    background: #ffffff; /* White background for sign-in box */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reset-box h2 {
    font-size: 1.3em;
    color: #667391;
    margin-bottom: 20px;
    font-weight: 500;
}

form {
    text-align: left;
}

.send-btn {
    width: 100%;
    padding: 10px;
    background-color: #555; /* Placeholder color for sign-in button */
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}

.send-btn:hover{
    background: linear-gradient(to bottom, #D5DCE4 0%, #8899ad 100%);
}

input[type="email"]{
    background-color: #F5F5F5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 0.9em;
}

input[type="email"]::placeholder{
    color: #333; /* Adjust if you want a different color for placeholder text */
}

input[type="email"]:focus {
    border-color: #667391; /* Optional: Change border color on focus */
    background-color: #c9cfda;
    outline: none;
}

@media (max-width: 968px) {
    body {
        padding: 40px 0; /* Adds more space above and below the entire page */
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px; /* Ensures space around content on smaller screens */
    }

    .logo-section {
        order: -1;
        margin-bottom: 20px;
    }

    .logo-section img {
        transform: translateY(-20px);
    }

    .signin-box {
        width: 90%;
        min-width: auto;
    }
}
